body {
     background: radial-gradient( rgb(15, 39, 146), rgb(46, 36, 54));
    }

header {
        box-shadow: 1px 1px 16px -3px rgba(49, 247, 0, 0.75);
        text-align: center;
        padding: 3px;  
        border-radius: 20px;
        margin-top: 45px;
      }

.topnav {
        overflow: hidden;
        box-shadow: 1px 1px 16px -3px rgba(248, 5, 248, 0.75);
        border-radius: 20px;
        display: flex;  
        place-content: end center;
        margin-top: 30px;
        }
      
h1{
    font-size: 5rem;
    font-family: Chiller;
    text-transform: capitalize;
    color: rgb(0, 255, 242);
    text-shadow:2px 2px 1px rgb(255, 251, 0);
    -webkit-text-stroke: 2px black;
    text-align: center;
    letter-spacing: 2px;
    }
h2 {
    
    text-shadow:2px 2px 1px rgb(255, 0, 212);
    text-align: center;
    padding: 3px;
    }
.tarjeta {
    width: 300px;
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 1px 1px 16px -3px rgba(10, 247, 234, 10);
    display: flex;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    overflow:hidden;
    padding: 15px;
    margin-top: 20px;
    row-gap: 30px;
    column-gap: 30px;
    flex: 0 0 25%;
  }
.textoNombre{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: cornsilk;
    font-size: 20px;
    text-align: center;
    /* margin-left: 30px; */

}
.imagen_tarjeta {
    width: 90%;
    display: block; 
    margin-top: 40px; 
    margin-left: 20px;
    border-radius: 5%; 
    }
.textoPersonaje {
    color :rgb(252, 73, 222); 
    width: 300px;
    margin-left: 14px;
    background-color: rgb(210, 228, 235);
    border-radius: 5%;
    height: 250px;
    /* width: 100%; */
    border: 1px solid #4CAF50;
    margin-top: 40px;
    text-align: center;
     
}
#root{
    display: flex;
    flex-wrap: wrap;
    /* flex-flow: row wrap; */
    gap: 30px;
    place-content: end center;       
}
